.break-icon{
    margin: 50px auto;
    font-size: 30px;
    color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    gap: 5px;
}
.dining-img{
    width: 80%;
    margin: auto;
}
.dining-img img{
    width: 100%;
}